$white: #fff;
$black: #020105;
$primary: #044982;
$yellow: #f4c900;
$light-blue: #54a9eb;
$gray-opacity-5: rgba(155, 162, 171, 0.5);
$gray: #9ba2ab;
$gray-core: #dfdfdf;
$low-gray: #667593;
$primary-50: rgba(4, 73, 130, 0.5);
$glass-white: rgba(255, 255, 255, 0.5);
$box-shadow: rgba(0, 0, 0, 0.12);
