@media (max-width: 1919px) {
  .owl-carousel {
    .owl-stage {
      display: flex;
    }
  }
  .section_title {
    p {
      font-size: 18px;
    }
    h1 {
      font-size: 50px;
    }
  }
  .send_app_stat span {
    font-size: 86px;
    line-height: 105px;
  }
  .client_recommendations {
    height: 526px;
  }
  .owl-item- {
    &1 {
      .owl-carousel .owl-item {
        img {
          height: 526px;
        }
      }
    }
    &3 {
      .owl-carousel .owl-item img {
        height: 303px;
      }
    }
  }
  .nav_menu {
  }
}
@media (max-width: 1440px) {
  .team-member {
    flex: 0 0 calc(25% - 20px);
  }
  .section_title {
    h1 {
      font-size: 40px;
    }
  }
  .client_recommendations {
    height: 436px;
  }
  .owl-item- {
    &1 {
      .owl-carousel .owl-item {
        img {
          height: 436px;
        }
      }
    }
    &3 {
      .owl-carousel .owl-item img {
        height: 263px;
      }
    }
    &5 {
      .owl-carousel .owl-item img {
        height: 209px;
      }
    }
  }
  .feedback img {
    height: 740px;
  }
  .footer_contact {
    width: 100%;
  }
  .md_w-1006 {
    max-width: 1006px;
  }
  .md {
    &_mt-90 {
      margin-top: 90px;
    }
  }
  .send_app {
    width: 177px;
    height: 177px;
    font-size: 24px;
    &_text h1 {
      font-size: 46px;
    }
  }
  .footer_contact {
    margin-bottom: 48px;
    span,
    a {
      font-size: 40px;
    }
  }
}
@media (max-width: 1280px) {
  .md {
    &_items-center {
      align-items: center;
    }
    &_gap-40 {
      gap: 40px;
    }
    &_flex-col {
      flex-direction: column;
    }
  }
  .nav_menu {
    width: calc(100vw - (100vw - 700px) / 2 - 32px);
  }
  .nav_btn {
    font-size: 16px;
    gap: 12px;
    img {
      width: 24px;
    }
  }
  .b-menu {
    a {
      font-size: 24px;
    }
    &_contact {
      gap: 24px;
      flex-wrap: wrap-reverse;
      a {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 900px) {
  .send_app {
    &_stat {
      p {
        font-size: 14px;
      }
      span {
        font-size: 48px;
        line-height: 85px;
      }
    }
  }
  .dv {
    display: none !important;
  }
  .sm_menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: white;
  }
  .nav_btn {
    gap: 6px;
  }
  .cool-lightbox .cool-lightbox-button {
    top: calc(100% - 100px) !important;
    &.cool-lightbox-button--prev {
      left: calc(50% - 90px) !important;
    }
    &.cool-lightbox-button--next {
      right: calc(50% - 90px) !important;
    }
  }
  .cool-lightbox-caption {
    top: 80px !important;
  }
  .cool-lightbox .cool-lightbox__slide .cool-lightbox__slide__img {
    width: 85% !important;
    height: 50% !important;
    top: 60% !important;
  }
  .cool-lightbox-caption h6 {
    width: 100% !important;
  }
  .videomodal_btn {
    width: 56px;
    height: 56px;
    img {
      width: 18px;
    }
  }

  .search {
    &-page {
      h1 {
        font-size: 32px !important;
        line-height: 130%;
        text-align: center;
      }
    }
    &-res {
      &_nospan {
        color: #024b80;
        font-size: 32px;
        line-height: 130%;
      }
      &_p {
        font-weight: 300;
        font-size: 32px !important;
        line-height: 130%;
        text-align: center;
      }
    }
  }
  .menu_mobile {
    .search {
      flex-direction: column;
      align-items: end;
      padding: 16px;
      justify-content: space-between;
      input {
        width: 100%;
        font-size: 24px;
        height: 31px;
        font-family: T1Interfaces;
      }
      height: 296px;
      &-btn {
        margin-bottom: 44px;
        width: 100% !important;
      }
    }
  }

  .label_tag {
    overflow-y: scroll;
    font-size: 12px;
    // height: 50px;
    .tags {
      height: 50px;
    }
  }
  .b-menu {
    height: 100%;
    &-logo {
      width: 65px;
      height: 55px;
    }
  }
  .nav_menu {
    justify-content: flex-end;
    width: auto;
  }
  .mv {
    display: unset !important;
  }
  .team-owl.owl-item- {
    &6 {
      .owl-carousel .owl-item {
        img {
          height: 364px;
        }
      }
    }
  }
  .client_recommendations {
    margin: 56px 0;
  }
  .sm {
    &_m-0 {
      margin-top: 0;
    }
    &_p-0 {
      padding-top: 0;
    }
    &_flex-end {
      justify-content: flex-end;
    }
    &_flex-wrap {
      flex-wrap: wrap;
    }
    &_flex-col {
      flex-direction: column;
    }
    &_gap-32 {
      gap: 32px;
    }
    &_gap-16 {
      gap: 16px;
    }
    &_ml-16 {
      margin-left: 16px;
    }
    &_mb-32 {
      margin-bottom: 32px;
    }
    &_mb-16 {
      margin-bottom: 16px;
    }
    &_mb-8 {
      margin-bottom: 8px;
    }
    &_mt-56 {
      margin-top: 56px;
    }
    &_mt-40 {
      margin-top: 40px;
    }
    &_mt-32 {
      margin-top: 32px;
    }
    &_mt-24 {
      margin-top: 24px;
    }
    &_font-32 {
      font-size: 32px;
    }
    &_w-100 {
      width: 100% !important;
    }
    &_w-90 {
      width: 90% !important;
    }
    &_px-16 {
      padding: 16px;
    }
    &_p-0 {
      padding: 0;
    }
    &_px-0 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .navbar {
    height: 87px;
    .nav-logo {
      width: 64px;
    }
  }
  .open-navbar {
    height: 87px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    .nav-logo {
      width: 64px;
    }
  }
  .footer_menu {
    justify-content: space-between;
  }
  .show_more {
    width: 100%;
    height: 39px;
    font-size: 16px;
  }
  .section_title {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 14px;
    }
  }
  .owl-item- {
    &8 {
      .owl-carousel .owl-item {
        img {
          height: 88px;
        }
        p {
          font-weight: 600;
          font-size: 16px;
          font-family: T1Interfaces;
          line-height: 140%;
          color: white;
        }
        span {
          font-family: T1Interfaces;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          color: #5d5d5f;
        }
      }
    }
    &1 {
      .owl-carousel .owl-item {
        // width: 241px !important;
        img {
          height: 274px;
        }
      }
    }

    &3 {
      .owl-carousel .owl-item {
        //   width: 254px !important;
        img {
          height: 187px;
        }
      }
    }
    &5 {
      .owl-carousel .owl-item {
        //   width: 241px !important;
        img {
          height: 148px;
        }
      }
    }
  }
  .videomodal_img {
    height: 243px;
    object-fit: cover;
  }
  .client_recommendation {
    width: 100%;
    gap: 24px;
    &_info {
      img {
        width: 48px;
        height: 48px;
      }
    }
    &s {
      height: auto;
      flex-direction: column;
      gap: 20px;
      .w-50 {
        width: 100% !important;
      }
    }
    h1 {
      margin-bottom: 0;
    }
  }
  .home_tblock {
    height: 320px;
    span,
    p {
      font-family: T1Interfaces;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      height: 38px;
      color: #ffffff;
    }
    p {
      height: 56px;
    }
    h3 {
      width: 80%;
      font-size: 20px;
      text-align: center;
    }
  }
  .carousel_btn button {
    width: 48px;
    height: 48px;
  }
  .contact {
    width: 100%;
    margin-bottom: 48px;
    p,
    span,
    a {
      font-family: T1Interfaces;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #9a999b;
    }
    span,
    a {
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: white;
    }

    &_info {
      margin-top: 40px;
      span {
        width: 95%;
        display: flex;
        font-family: T1Interfaces;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #000000;
      }
    }

    &_input {
      height: auto;
      width: 100%;
      margin-left: auto;
      flex-direction: column;
      input {
        margin-top: 0;
        padding: 16px 16px 16px 0;
      }
      a {
        font-weight: 400;
        margin-top: 12px;
        font-family: T1Interfaces;
        font-size: 14px;
        margin-bottom: 16px;
        color: #9a999b;
      }
      button {
        height: 39px;
        margin-top: 24px;
        font-size: 16px;
      }
    }
  }
  .footer_contact {
    margin-bottom: 16px;
    span,
    a {
      font-size: 24px;
    }
  }
  .feedback img {
    height: 491px;
    object-fit: cover;
  }
  .feedback_input {
    height: auto;
    margin-bottom: 40px;
    h1 {
      font-size: 32px;
    }
    button {
      width: 100%;
      height: 41px;
      font-size: 16px;
    }
  }
  .footer {
    margin: 54px 0 32px 0;
  }
}
